node_modules/
.env
.env.local
.env.*.local
dist/
build/
*.log
*.out.log
*.tmp.mjs
vite.config.js.timestamp-*
.DS_Store
$null
*.json
!package.json
!package-lock.json
!tsconfig.json
!nest-cli.json
!swagger-spec.json
!vercel.json
!manifest.json
